body{
    margin: 0;
    height: 700px;
    background-color:rgb(243, 233, 234);
    /* padding: 0; */
    overflow-x: hidden;
}


.Navbar {
    display: flex;
    height: 55px;
    background-color:#0f1111;
    color: rgb(11, 2, 2);
    align-items: center;
    justify-content: space-evenly;
    padding:  2px;
    margin-top: 30px;     
    border-radius: 27px;
    /* width: 100%;   */
   
    
    
}

/* Logo */

.Nav-Logo {
    height: 70px;
    width: 50px;
    margin-left: 20px;

}


.Logo {
    background-image: url("Masai_Image.png");
    background-size:cover;
    height: 20px;
    width: 120px;
   
}

/* Our Courses */
.Nav-Search {
    color: #cccccc;
    font-size: 16px;
    margin-left:150px ;
    width: 290px;
    border-radius: 8px;
    justify-content: center;
    
       
}

.Search-Select {
    height: 47px;
    width: 166px;
    border-radius: 22px;
   
    }



/* Misogi */

.Nav-Info {
    color: white;
    display: flex;
    align-items: center;
    /* justify-content:space-evenly ; */
    gap: 60px;
    margin: auto;
    padding: 0 30px;
    font-weight: bold;
}




.Info-First {
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 0;
    padding:  0;
    font-weight: bold;
   
}



.Info-First a {
    text-decoration: none;
    color: white;
    font-weight:bold ;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 17px;
}


.Info-First a:hover {
    color: red;
}



/* login */

.Nav-Button {
    /* background-color:red; */
    border-radius: 20px;
    /* width: 7px; */
    
}

.Btn-1 {
    background-color: Red;
    border-radius: 22px;
    height: 52px;
    font-weight: bold;
    color: white;
    width: 190px;
    margin-right: 5px;
}

.Btn-1:hover {
    background-color: rgb(223, 25, 25);
}
    

.Btn-1 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;   
}


/*  Sentence */

.Sentence {
    display: flex;
    font-size: 60px;
    text-align: center;
    font-weight: bold;
    justify-content: center;
}


.Highlight{
    display: flex;
    font-size:40px ;
    justify-content: center;
    color: Red;
    font-weight: bold;
   margin-top: 10px;
  
}


/* Cards */

.Cards {
    height: 80px;
    width: 160px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 29px;
    text-align: center;
    color: red;
    font-weight: bold;
    border: 0.7px solid rgb(219, 169, 169);
    padding: 10px;
}


.CardColor {
    color: black;
    font-weight: normal;
    font-size: 19px;
    margin-top: 5px;
   
}

.CardsRow {
    display: flex;
    /* justify-content: center; */
    gap: 25px;              /* only 3px gap between boxes */
    margin-bottom: 20px;
    margin-left:100px ;
}

.CardsRow.single {
    justify-content: center;  
    margin-right: 800px;
}    



/* Image */
.Images {
    position: absolute;          /* allow exact positioning */
    top: 400px;                  /* adjust this to match your cards' level */
    left: 600px;                 /* horizontal position */
    height: 350px;
    width: 600px;
    background-size: cover;
    border-radius: 30px;
    animation: ChangeImage 15s infinite;
}

@keyframes ChangeImage {
    0% {background-image: url("Image_4_Masai.jpg");}
    33% {background-image: url("Image_2_Masai.png");}
    66% {background-image: url("Image_3_Masai.jpg");}
    100%{background-image: url("Image_1_Masai.png");}
}


/*  */
.Automatic {
    display: flex;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    justify-content: center;
    margin-top:100px ;
  
}

/*  */

.marquee {
  width: 100%;
  background: white;
}

.marquee-content {
  display: flex;
  gap: 40px;             
  animation: scroll 15s linear infinite;
}

.marquee-content img {
  width: 150px;
  height: auto;
}

/* Animation */
@keyframes scroll {
  from { transform: translateX(0); }
  to   { transform: translateX(-50%); }
}

.marquee-content:hover {
  animation-play-state:paused;
}


/*  */

.Sen {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   margin-top:50px;
   font-weight: Bold;
   font-size: 30px;
   text-align: center;
   justify-content: center;
   align-items: center;
   color: red;

   
}

.Sen2 {
    color: black;
    margin-top: -15px;
    
}

/* Button  */

.Butt {
    display: flex;
    gap: 15px;
    justify-content: center;
    
  
}

.Category {
    height: 40px;
    width: 170px;
    border-radius: 80px;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(248, 237, 239);
}

.Institute {
    height: 40px;
    width: 170px;
    border-radius: 80px;
    font-weight: bold;
    font-size: 17px;
    background-color: rgb(248, 237, 239);
}

.Category:active {
    background-color: red;
}

.Institute:active {
    background-color: Red;
}


/* Boxex */
.Card {
    height: 390px;
    width: 370px;
    background-color: #FFF;
    border-radius: 50px;
    padding: 20px 25px;
    
    box-shadow: 0 5px 15px Rgba(0,0,0,0.1);
    text-align: left;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;   
}    

.Card-Img {
    width: 60px;
    height: 60px;
}

.Card-Container {
    display: flex;
    justify-content: center;
    gap: 25px;            
    margin-bottom: 20px;
    margin-left:100px ;
    

} 

.Heading {
    color: grey
}


.Card-Button {
    display: flex;
    gap: 10px;
  }


.Card-Button button {
    border-radius: 25px;
    padding: 6px 12px;
    height: 45px;
    width: 150px;
    justify-content: center;
   font-weight: bold;
    color: white;
    font-size: 17px;
    border: none;
}


/* Card-Button-One */

.Card-Button .Card-Button1{
    background-color: rgb(232, 38, 38);
}



.Card-Button .Card-Button1 a {
    color: white;
     text-decoration: none
}


.Card:hover .Card-Button1 {
    background-color: white;
}


.Card:hover .Card-Button1 a {
    color: black;
   text-decoration: none;
}



/* Card Button Two */

.Card .Card-Button2 {
    color: Red;
    border: 0.7px Solid rgb(253, 150, 150);

}

.Card .Card-Button2 a {
    color: red;
    text-decoration: none;
}



.Card:hover .Card-Button2 {
    color: white;
    background-color: rgb(246, 65, 65);
    border: 0.7px solid white;
}

.Card:hover .Card-Button2 a{
    color: white;
}


.Card:hover {
    background-color: rgb(246, 65, 65);
    color: white;
}

.Card:hover .Heading {
    color: white;
}






/* Alumini Sentence */
.Alumini {
    align-items: center;
    justify-content: center;
    display: flex;
}



/* Alunimi Scroll */



.Alumini-Logos{
    display: flex;
    gap: 50px;
    animation: Alumini 15s linear infinite;
}


.Alumini-Logos img {
    height: auto;
    width: 140px;
    border-radius: 50%;
    border: 0.2px solid Black;
}


@keyframes Alumini {
    0% { transform: translateX(0);}
    100%{transform: translateX(-80%)}
}

.Alumini-Logos:hover {
    animation-play-state: paused;
}
/* animation: Alumini 15s linear infinite; */




/* Alumini 2 */

.Alumini-Container {
    display: flex;
    gap: 50px;
    animation:Alumini2  15s linear infinite ;
}

@keyframes Alumini2 {
    0% {transform: translateX(-80%);}
    100% {transform: translateX(0);}
}


.Alumini-Container:hover {
    animation-play-state: paused;
}


.Alumini-Container img {
    height: auto;
    border-radius: 50%;
    width: 140px;
    border: 0.7px solid black;
}



/* Stories-Templet */
.Stories-Templet {
    
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-left : 400px;
    
}


.Sentence1 {
    font-size:35px ;
    font-weight:bold ;

}

.Sentence2 {
    font-size: 25px;
    font-weight: bold;
    margin-left: 55px;
    font-size: 35px;
    margin-top: -15px;
    
}


/* Paragraph */

.Paragraph {
  height: 300px;
  overflow-y: auto;
  padding: 10px;
  background-color: White;
  border-radius: 50px;
  box-shadow: 0 8px 16px ;
  line-height: 1.6;
  color: grey;
  margin: 20px 50px 20px 50px;
  font-size:20px ;
  border: pink;

}


/* Footer */

footer {
    display: flex;
    background-color: black;
    width: 100%;
    margin-Top:20px ;
    color: white;
   
}

.First-Div {
    display: flex;
     width: 80%;
     color: white;
     justify-content: center;
     align-content: center;
     list-style: none;
}

.First-Div a {
    color: rgb(155, 151, 151);
    text-decoration: none;
    line-height: 2.5;
    
}

.List {
    list-style: none;
    margin-right:10px ;
}



.Second-Div {
    width: 20%;
    color: white;
    flex-wrap: wrap;
    border-left: 0.2px solid white;
    justify-content: center;
    align-items: center;
    padding: 30px 20px;
    font-weight: bold;
    font-size: 19px;
   
}

.Second-Div p{
    margin-right: 50px;
}


.Footer-Button {
    height: 50px;
    width: 180px;
    border-radius: 50px;
    background-color: rgb(217, 43, 43);
    font-size: 15px;
    color: White;
    font-weight: bold;
    margin: 20px 40px 50px 40px;
    
}

.Footer-Button:hover {
   background-color: rgb(228, 88, 88);
   color: rgb(241, 218, 218);
}

.First-Div a:hover {
    color: white;
} 


.Footer-Button a{
    text-decoration: none;
    color: white;
}



/*  */
.Follow-Us{
    margin:20px 70px 10px 40px ;
}

.Image p {
    color: #7d7979;
    /* margin: 10px 30px 10px 30px; */
  
}

.Logo {
    background-image: url("Masai_Image.png");
    background-size: cover;
    height: 30px;
    width: 90px;
    margin: 20px 70px 40px 40px;
}

/* Logos */

.Social-Media-Main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top:110px ;
    gap: 15px   
}

.Social-Media {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.First-Row {
    margin-top: 10px;
    margin-left: -190px;    
    
}





.Second-Row {
    margin-bottom:320px;
    margin-left: -190px;
}


.Last-One {
    margin: 10px 20px 20px 40px;
}


.First-Row a:hover {
    color: #7d7979;
} 
